<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <link rel="stylesheet" href="/stylesheets/adminhome.css">
    <!-- FontAwesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="sidebar">
        <div class="user-info">
            <div class="user-avatar">NA</div>
            <div class="user-email">Natcha@gmail.com</div>
        </div>
        <ul class="menu">
            <li class="active"><a href="#"><i class="fas fa-th-large"></i> ภาพรวม</a></li>
            <li><a href="#"><i class="fas fa-file-alt"></i> รายละเอียดพันธุ์สุนัข</a></li>
            <li><a href="#"><i class="fas fa-book"></i> การเลี้ยงสุนัข</a></li>
            <li><a href="#"><i class="fas fa-map-marker-alt"></i> แหล่งซื้อสุนัข</a></li>
            <li><a href="#"><i class="fas fa-paw"></i> การผสมพันธุ์สุนัข</a></li>
            <li><a href="#"><i class="fas fa-users"></i> ผู้ใช้งาน</a></li>
        </ul>
        <button class="logout">ออกจากระบบ</button>
    </div>

    <div class="content">
        <div class="header">
            ภาพรวม
            <div class="header-right">แก้ไขข้อมูลส่วนตัว</div>
        </div>
        
    </div>
</body>
</html>
