<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendation Breed Dog</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/images/logo.png" alt="Recommendation Breed Dog">
            <span>Recommendation Breed Dog</span>
        </div>
        <div class="buttons">
            <a href="/login"><button>เข้าสู่ระบบ</button></a>
            <a href="/register"><button>ลงทะเบียน</button></a>
        </div>
    </header>
    <main>
        <h1>แนะนำพันธุ์สุนัขให้เหมาะสมกับรูปแบบการดำเนินชีวิตบุคคล</h1>
        <p>สุนัขมีหลากหลายสายพันธุ์ การตัดสินใจเลือกพันธุ์สุนัขที่จะเลี้ยงจึงเป็นเรื่องยาก</p>
        <p>เว็บไซต์ Recommendation Breed Dog สามารถให้ความรู้และแนะนำสายพันธุ์สุนัข โรคของสุนัข</p>
        <p>โดยคลิกเริ่มทำแบบทดสอบเพื่อแนะนำพันธุ์สุนัขที่เหมาะสมกับคุณ</p>
        <!-- <button class="main-btn">เริ่มทำแบบทดสอบแนะนำพันธุ์สุนัข</button> -->
        <a href="/form"><button class="main-btn">เริ่มทำแบบทดสอบแนะนำพันธุ์สุนัข</button></a>
        <div class="dog-images">
            <img src="/images/dog-1.png" alt="Dog 1">
            
        </div>
    </main>
</body>
</html>