<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  
</head>

<body>
  <ul>
    <img src="/public/images/logowebsite.png" alt="logowebsite">
    <div class="text">
      <h1>Recommendation</h1>
      <h1>Breed</h1>
      <h1>Dog</h1>
    </div>
    <li>
      <p><a href="">พันธุ์สุนัข</a></p>
    </li>
    <li>
      <p><a href="">สายพันธุ์สุนัข</a></p>
    </li>
    <li>
      <p><a href="">เตรียมความพร้อมสำหรับเลี้ยงสุนัข</a></p>
    </li>
    <li>
      <p><a href="">ประวัติแนะนำพันธุ์สุนัข</a></p>
    </li>
    <li>
      <p><a href="">แหล่งซื้อสุนัข</a></p>
    </li>

  </ul>
  <h1 style="text-align: center;">แนะนําพันธุ์สุนัขให้เหมาะสมกับรูปแบบการดําเนินชีวิตบุคคล</h1>
  <p style="text-align: center;">สุนัขมีหลากหลายสายพันธุ์ การตัดสินใจเลือกพันธุ์สุนัขที่จะเลี้ยงจึงเป็นเรื่องยาก</p>
  <p style="text-align: center;">เว็บไซต์ Recommendation Breed Dog สามารถให้ความรู้และแนะนำสายพันธุ์สุนัข</p>
  <p style="text-align: center;">โรคของสุนัข โดยคลิกเริ่มทำแบบทดสอบเพื่อแนะนําพันธุ์สุนัขที่เหมาะสมกับคุณ</p>
  <p style="text-align: center;"><a href="link_to_your_quiz_page" class="start-test-button">เริ่มแบบทดสอบ</a></p>
  <img src="/public/images/dog.png" alt="dog" >
  <img src="/public/images/dog.png" alt="dog" >
</html>