<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Breed Recommendation System</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <div class="login-container">
        <div class="login-header">
            <img src="/images/logo.png" alt="Logo">
            <h1>Recommendation Breed Dog</h1>
        </div>
        <div class="nav-buttons">
            <a href="#" class="active">เข้าสู่ระบบ</a>
            <a href="/register">ลงทะเบียน</a>
        </div>
        <div class="login-form">
            <form action="/login" method="POST">
                <div class="input-group">
                    <label for="email">อีเมล</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="input-group">
                    <label for="password">รหัสผ่าน</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <!-- <button type="submit">เข้าสู่ระบบ</button> -->
                <a href="/home"><button class="main-btn">เข้าสู่ระบบ</button></a>
            </form>
            <p><a href="/login/forgotPassword">ลืมรหัสผ่าน?</a></p>
        </div>
    </div>
</body>
</html>
