<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Breeds-register</title>
    <link rel="stylesheet" href="/stylesheets/register.css">
</head>

<body>
    <div class="register-container">
        <div class="register-header">
            <img src="/images/logo.png" alt="Logo">
            <h1>Dog Breeds</h1>
        </div>
        <div class="nav-buttons">
            <a href="/login">เข้าสู่ระบบ</a>
            <a href="#" class="active">ลงทะเบียน</a>
        </div>
        <div class="register-form">
            <form action="/register" method="POST">
                <div class="input-group">
                    <label for="email">อีเมล</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="input-group">
                    <label for="name">ชื่อ</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="input-group">
                    <label for="cars">เพศ</label>

                    <select name="sex" id="sex">
                        <option value="ชาย">ชาย</option>
                        <option value="หญิง">หญิง</option>
                        <option value="ไม่ระบุเพศ">ไม่ระบุเพศ</option>
                    </select>
                </div>
                <div class="input-group">
                    <label for="birthdaytime">วันเกิด</label>
                    <input type="date" id="age" name="age"required >
                </div>

                <div class="input-group">
                    <label for="password">รหัสผ่าน</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="input-group">
                    <label for="confirmPassword">ยืนยันรหัสผ่าน</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" required>
                </div>
                <button type="submit">ลงทะเบียน</button>
            </form>
        </div>
    </div>
</body>

</html>