body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.logo span {
    font-size: 20px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.form-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.options {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

label {
    margin: 0 10px;
    cursor: pointer;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: background-color 0.3s, border-color 0.3s;
}

label input[type="radio"] {
    display: none;
}

label input[type="radio"]:checked + .option {
    background-color: #ff7f50;
    border-color: #ff4500;
    color: white;
}

.option img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.option span {
    font-size: 16px;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #ff7f50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #ff4500;
}


/* .options {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    margin-bottom: 20px;
}

.option {
    flex: 0 0 48%; 
    box-sizing: border-box; 
    margin-bottom: 10px; 
} */
