body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffe6cc;
  border-bottom: 1px solid #ddd;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 75px;
  height: 70px;
  margin-right: 15px;
  margin-left: 10px ;
}

.logo span {
  font-size: 24px;
  font-weight: bold;
}

.buttons button {
  margin-left: 10px ;
  margin-right: 20px;
  padding: 15px 50px;
  border: none;
  background-color: #E67B19;
  color: rgb(255, 255, 255);
  font-size: 20px;
  cursor: pointer;
  border-radius: 15px;
}

.buttons button:hover {
  background-color: #ffb978;
  color: rgb(0, 0, 0);
}

main {
  text-align: center;
  padding: 30px 20px;
}

h1 {
  font-size: 30px;
  margin-bottom: 40px;
}

p {
  font-size: 16px;
  margin-bottom: 5px;
}

.main-btn {
  padding: 20px 50px;
  border: none;
  background-color: #E67B19;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 22px;
  border-radius: 15px;
  margin-top: 50px;
}

.main-btn:hover {
  background-color: #ffdcc2;
  color: rgb(0, 0, 0);
}

.dog-images {
  margin-top: 50px;
}

.dog-images img {
  width: 600px; 
  height: 200px; 
  margin: 0 10px;
}
