body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

ul li a{
 color: #F29040;
  text-decoration: none;
}
ul li a:hover{
 color: gray;
  
}
ul li{
 
  list-style-type: none;
}
ul li p{
  text-align: center;
 margin-top: 15%;
}
ul{
  display: grid;
  grid-template-columns: auto 40% 12% 12% 12% 12% 12%; /*รวมยังไงก็ได้ให้ได้ 100%*/
}

ul img{
width: 10%;
}
ul h1{
  text-align: left;
  }
.text{
 display: flex;
}
.text h1{
  margin: 0.5%;
  color: #C15E0E;
 }
 .text h1:first-child{
  color: #9E4632;
 }
 .text h1:last-child{
  color: #F29040;
 }
 .field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

.container{
  padding-top:50px;
  margin: auto;
}

p {
  font-size: 18px; 
}
