body{
    font-family: "Sarabun", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.container{
  display: grid;
  grid-template-columns: 22% auto;
  
}
.sidebar{
  border-right: 1px solid grey;
  margin-left: 0;
  padding: 10px;
  height:100vh ;
}
.content{
  padding: 10px;
  height:100vh ;
  
}
.sidebar .user-info {
  text-align: center;

}

.sidebar .user-avatar {
  background-color: #E67B19;
  color: white;
  font-size: 24px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.sidebar .user-email {
  margin-top: 20px;
  font-size: 18px;
  color: #E67B19;
}
ul{
  list-style: none;
  margin: 30;
  padding: 0;
}
ul li a p{
  color: #3D3A38;
}
ul .active a p{
  color: white;
}
ul li a{
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding:0 10px 0 10px;

}
ul .active a{
  background-color: #E67B19;
  border-radius:20px ;

}
ul li a img{
  width: 30px;
  height: 30px;
  margin-right: 20px;
 
}
.logout {
  border: 3px solid #E67B19;
  background-color: white;
  color: #E67B19;
  border-radius: 15px;
  padding: 10px 0;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  
}
.layout_logout{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 22%;
}
.logout:hover {
  background-color: #E67B19;
  color: white;
}

/* Container for the content */
.content {
  background-color: white;
}

/* Header styling */
.header {
  font-size: 24px;
  color: #F29040;
  margin-bottom: 20px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.user-table th, .user-table td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  font-size: 16px;
}

.user-table th {
  background-color: #F29040;
  color: white;
  font-weight: bold;
}

.user-table td img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.user-table td {
  background-color: #fff;
}


/* Button styling */
.edit-btn,
.delete-btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.edit-btn {
  background-color: #ffc107;
  color: #fff;
}

.edit-btn:hover {
  background-color: #FCC812;
}

.delete-btn {
  background-color: #FC2012;
  color: #fff;
}

.delete-btn:hover {
  background-color: #FC2012;
}

/* Make the table responsive */
@media (max-width: 768px) {
  .user-table {
    width: 100%;
    font-size: 14px;
  }

  .edit-btn,
  .delete-btn {
    padding: 8px 16px;
  }
}