<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Breeds</title>
    <style>
        .menu {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        ul.nav {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .nav li {
            display: inline;
            list-style-type: none;
            margin: 8px;
        }

        .nav li a {
            color: #f57c00;
            text-decoration: none;
        }

        .nav li a.active {
            color: #776048;
            font-weight: bold;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <%if(sessions.loginsession){%>

        <header>
            <div class="logo">
                <img src="/images/logo.png" alt="Dog Breed Recommendation System">
                <span>Dog Breeds</span>
            </div>
            <ul class="nav">
                <li>
                    <a href="/">แบบทดสอบแนะนำพันธุ์สุนัข</a>
                </li>
                <li>
                    <a href="/dogdetails">สายพันธุ์สุนัข</a>
                </li>
                <li>
                    <a href="/contentdog">เนื้อหาเกี่ยวกับสุนัข</a>
                </li>
                <li>
                    <a href="/breed/history/<%=sessions.loginsession._id%>">ประวัติแนะนำพันธุ์สุนัข</a>
                </li>
            </ul>

            <ul class="menu">
                <li class="">
                    <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <%=sessions.loginsession.name %>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                                href="/login/editproflie/<%=sessions.loginsession._id%>">แก้ไขบัญชี</a></li>
                        <li><a class="dropdown-item" href="/login/logout">ออกจากระบบ</a></li>
                    </ul>
                </li>
            </ul>
        </header>

        <%}else{%>
            <header>
                <div class="logo">
                    <img src="/images/logo.png" alt="Dog Breed Recommendation System">
                    <span>Dog Breeds</span>
                </div>
                <div class="buttons">
                    <a href="/login"><button>เข้าสู่ระบบ</button></a>
                    <a href="/register"><button>ลงทะเบียน</button></a>
                </div>

            </header>
            <%}%>
</body>
<script>
    // เมื่อโหลดหน้า
    document.addEventListener('DOMContentLoaded', () => {
        const navLinks = document.querySelectorAll('.nav li a');
        const currentPath = window.location.pathname;

        navLinks.forEach(link => {
            if (link.getAttribute('href') === currentPath) {
                link.classList.add('active');
            }
        });
    });
</script>

</html>